<div class="stockItemImage">
    <img src=$bike.getImageUrl()>
</div>
<div>
    <p>Name: $bike.getName()</p>
    <p>Price : £ $bike.getPrice()</p>
    <p>Colour : $bike.getColour()</p>
    <p>Capacity : $bike.getCapacity()</p>
    <p>New ? : $bike.isNew()</p>
</div>

<!--<a href="/managers/$manager.getId()/edit" class="button center">Edit</a>-->
<form action="#" method="post">
    <input type="submit" value="Buy Now" class="button">
</form>