<div class="stockItemImage">
    <img src=$clothing.getImageUrl()>
</div>
<div>
    <p>Name: $clothing.getName()</p>
    <p>Price : £ $clothing.getPrice()</p>
    <p>Quantity : $chothing.getQuantity()</p>
    <p>Size : $clothing.getSize()</p>
    <p>Type : $clothing.getType()</p>
</div>

<!--<a href="/managers/$manager.getId()/edit" class="button center">Edit</a>-->
<form action="#" method="post">
    <input type="submit" value="Buy Now" class="button">
</form>