<h2>$customer.displayName()'s Basket</h2>

<img src=$stockItem.getImageUrl()>
<p>$stockItem.getName()</p>
<p>$stockItem.getPrice()</p>


<p>Test stuff:</p>
<p>Customer ID: $customer.getId()</p>
<p>Stock Item ID: $stockItem.getId()</p>

<p>$order</p>

