<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Jurassic Motorcycles</title>
</head>
<body>

<h1>Jurassic Motorcycles</h1>

<div class="nav">
    <a href="/">Home</a> | <a href="/bikes">Bikes</a> | <a href="/accessories">Accessories</a> | <a href="/clothing">Clothing</a>
</div>

<h2>Login</h2>
<form action="/login" method="post">
    <label for="username">Your name</label>
    <input id="username" name="username" type="text">
    <input type="hidden" name="referer" value="$referer">
    <button type="submit">Submit name</button>
</form>


</body>
</html>