<div class="stockItemImage">
    <img src=$accessory.getImageUrl()>
</div>
<div>
    <p>Name: $accessory.getName()</p>
    <p>Price : £ $accessory.getPrice()</p>
    <p>Quantity : $accessory.getQuantity()</p>
</div>

<!--<a href="/managers/$manager.getId()/edit" class="button center">Edit</a>-->
<form action="#" method="post">
    <input type="submit" value="Buy Now" class="button">
</form>